<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body style="margin:0">
<div style="height: 100%; width: 100%" id="map"></div>
<script>
    var houseIcon = L.icon({
        iconUrl: './static/img/house.svg',
        iconSize: [25, 25],
    });
    var map = L.map('map').setView([-35.004615, 138.722005], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    {% for item in result %}
    L.marker([{{item[11]}}, {{item[12]}}],{icon:houseIcon}).addTo(map)
        .bindPopup('Housing type:<b>{{item[5]}}</b><br>Number of trees:<b>{{item[6]}}</b><br>Distance to major road:<b>{{item[7]}}</b><br>Decibel reading:<b>{{item[8]}}</b><br>Age of property:<b>{{item[9]}}</b><br>Quality of house:<b>{{item[10]}}</b><br>Picture of house:<br><img style="width: 250px" src="{{item[4]}}" >')
        .openPopup();
    {% endfor %}
</script>
</body>
</html>