{% extends 'base_logged_in.html' %}
{% block title %}Heat Map{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="./static/js/heatmap.min.js"></script>
    <script src="./static/js/leaflet-heatmap.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Sign.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    {%endblock%}
    {% block body %}
<body style="margin:0">
<div style="height: 100vh; width: 100vw" id="map"></div>
<script>
    var houseIcon = L.icon({
        iconUrl: './static/img/house.svg',
        iconSize: [25, 25],
    });
    var map = L.map('map').setView([-35.004615, 138.722005], 14);
    // don't forget to include leaflet-heatmap.js
    var testData = {
        max: 8,
        data: [
            {% for i in range(resultLength) %}{lat: {{result[i][0]}}, lng:{{result[i][1]}}, count: {{result[i][2]}}}{% if i!=(resultLength-1) %},{% endif %}{% endfor %}
        ]
    };

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": 0.002,
        "maxOpacity": .8,
        // scales the radius based on map zoom
        "scaleRadius": true,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        "useLocalExtrema": true,
        // which field name in your data represents the latitude - default "lat"
        latField: 'lat',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'lng',
        // which field name in your data represents the data value - default "value"
        valueField: 'count'
    };


    var heatmapLayer = new HeatmapOverlay(cfg);
    map.addLayer(heatmapLayer);
    heatmapLayer.setData(testData);
</script>
</body>
{%endblock%}