{% extends 'base_logged_in.html' %}

{% block title %}Profile{% endblock %}

{% block rel %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/Sign.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
{%endblock%}

{% block body %}
  <body class="u-body u-xl-mode">

    <section style="min-height: 100vh; padding: 5%"  class="u-align-left u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280" data-image-height="853" id="sec-dff9">
      <div >
        <h1 class="u-text u-text-default u-title u-text-1">Welcome {{user_name}}</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Welcome to your profile, please choose the action you want to execute:</p>
      </div>
      <div>
        <a href="/myRequests" class="u-btn u-button-style u-palette-2-base u-btn-1">My requests</a>
        <a href="/changepw" class="u-btn u-button-style u-palette-2-base u-btn-1">Change password</a>
        <a href="/logout" class="u-btn u-button-style u-palette-2-base u-btn-1">Sign out!</a>
    </div>
    </section>
  </body>
{%endblock%}
